@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
$tablet-width: 768px;
$desktop-width: 1024px;
$grayscale-value: 75%;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url("./images/johannes-plenio-1vzLW-ihJaM-unsplash.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale($grayscale-value);
  -moz-filter: grayscale($grayscale-value);
  -o-filter: grayscale($grayscale-value);
  -ms-filter: grayscale($grayscale-value);
  filter: grayscale($grayscale-value);

  .container {
    display: grid;
    max-width: 100%;
    @include desktop() {
      max-width: 70%;
    }
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;

    header {
      color: #afaf27;
      background-color: #191970;
      grid-column: span 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      #appTitle {
        grid-column: span 13;
        @include tablet() {
          text-align: center;
        }
        @include desktop() {
          grid-column: span 10;
        }
      }

      .userLog {
        grid-column: span 6;
        padding: 8px;
        @include desktop() {
          grid-column: span 1;
          grid-column-end: auto;
          padding: 5px;
        }
      }

      .image-credit {
        grid-column: span 13;
        background-color: #17141d;
      }
    }

    a {
      text-decoration: none;
      color: gold;
    }
  }
}
