$tablet-width: 768px;
$desktop-width: 1024px;
$grayscale-value: 75%;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.card-list {
  grid-column: span 13; //Relation to body grid
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: minmax(350, auto);
  border-radius: 5px;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
  grid-column: span 3;

  @include desktop() {
    grid-column: span 1;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  }
}
